html, body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    height: 1.5em;
    width: 1.5em;
    margin: .5em;
    animation: rotate infinite 1.5s;
}

.square1 {
    background: red;
}

.square2 {
    background: orange;
}

.square3 {
    background: blue;
}

@keyframes rotate {
    from {
        transform: rotate(-45deg);
    }
    
    to {
        transform: rotate(45deg);
    }
}